<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.js"></script>
    <title>Galileo tabla</title>
 
</head>

<body>

<table class="table">
   <tr>
      <th>Nombre</th><th>Apellido</th><th>DNI</th><th>Email</th>
   </tr>

   <% 
    
    for (var i = 0; i < data.length; i++) {         
    %>
    <tr>
      <td><%= data[i].nombre %></td>
      <td><%= data[i].apellido %></td>
      <td><%= data[i].dni %></td>
      <td><%= data[i].email %></td>
    </tr>    
   <% } %>
    
</table>
</body>
</html>
    
    